@media screen and (max-width: 1200px) {
    html {
        font-size: 0.8px;
    }
}
@media screen and (max-width: 1000px) {
    html {
        font-size: 0.7px;
    }
    .hero__navbar__contacts__item {
        margin-right: 20rem;
    }
}
@media screen and (max-width: 700px) {
    html {
        font-size: 0.6px;
    }
}
@media screen and (max-width: 600px) {
    html {
        font-size: 0.5px;
    }
}
@media screen and (max-width: 500px) {
    html {
        font-size: 1px;
    }
    .hero__navbar__mobile.active {
        transform: translateY(0);
    }
    .hero__navbar__contacts__item:nth-child(1), .hero__navbar__contacts__item:nth-child(2), .hero__navbar__contacts__item:nth-child(3) {
        display: none;
    }
    .hero__navbar__mobile .hero__navbar__contacts__item:nth-child(1), 
    .hero__navbar__mobile .hero__navbar__contacts__item:nth-child(2), 
    .hero__navbar__mobile .hero__navbar__contacts__item:nth-child(3) {
        display: flex;
    }
    .hero__navbar__contacts__item {
        margin-right: 10rem;
    }
    .hero__navbar__contacts__item__messanger {
        width: 36rem;
        height: 36rem;
    }
    .hero__navbar__logo {
        height: 26rem;
    }
    .hero__navbar__hamburger {
        display: block;
    }
    .hero__main__titte {
        font-size: 34rem;
    }
    .hero__main .container {
        padding-right: 20rem;
    }
    .hero__main__img {
        width: 149rem;
        height: 256rem;
    }
    .sec__title {
        font-size: 32rem;
    }
    .hero__main__desc {
        font-size: 15rem;
    }
    .hero__navbar__contacts__item:nth-child(4) {
        margin-right: 10rem;
    }
    .container {
        padding-left: 10rem;
        padding-right: 10rem;
    }
    .hero__navbar {
        position: relative;
        padding-top: 20rem;
    }
    .hero__main .container {
        padding-top: 58rem;
        padding-bottom: 95rem;
        /* padding-right: 80rem; */
    }
    .hero__main__titte {
        padding-right: 55rem;
    }
    .hero__main__desc {
        margin-top: 10rem;
        padding-right: 100rem;
    }
    .hero__main__btn {
        margin-top: 28rem;
    }
    .hero__main__img {
        bottom: 150rem;
    }
    .sec__desc {
        font-size: 15rem;
    }
    .preims {
        padding-bottom: 39rem;
    }
    .preims__items {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 18rem;
        margin-top: 30rem;
    }
    .preims__content .parallax:nth-child(1) .parallax__scene:nth-child(1) {
        left: -115rem;
        top: -153rem;
    }
    .preims__content .parallax:nth-child(1) .parallax__scene:nth-child(1) .parallax__img:nth-child(1) {
        width: 190rem;
        height: 231rem;
    }

    .preims__content .parallax:nth-child(1) .parallax__scene:nth-child(2) {
        right: -86rem;
        bottom: -165rem;
    }
    .preims__content .parallax:nth-child(1) .parallax__scene:nth-child(2) .parallax__img {
        width: 165rem;
        height: 192rem;
    }
    .works__items {
        margin-top: 40rem;
        grid-gap: 10rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .works__item {
        border-radius: 10rem;
    }
    .works__item:nth-child(1) {
        grid-row: span 1;
    }
    .materials {
        padding-bottom: 41rem;
    }
    .materials__left {
        width: 100%;
        min-width: 100%;
        height: auto;
        padding-bottom: 230rem;
        padding-left: 26rem;
        padding-top: 26rem;
        padding-right: 26rem;
    }
    .materials__content__main {
        grid-template-columns: 1fr;
    }
    .materials__right {
        padding-right: 0;
    }
    .materials__left__img {
        width: 273rem;
        height: 202rem;
    }
    .materials__slider__item {
        padding: 16rem;
    }
    .materials__slider__item__img {
        height: 238rem;
        padding-bottom: 0;
    }
    .materials__left__text {
        font-size: 15rem;
    }
    .materials__slider .owl-nav button  {
        box-shadow: 0px 2rem 0rem 0rem rgba(188, 103, 134, 1);
    }

    .materials__slider .owl-nav button.owl-prev  {
        left: 0;
        transform: translateY(0);
        top: 111rem;
    }
    .materials__slider .owl-nav button.owl-next  {
        right: 0;
        transform: translateY(0);
        top: 111rem;
    }
    .materials__slider .owl-nav button:active  {
        transform: translateY(2rem);
        box-shadow: none;
    }
    .materials__slider .owl-nav button.owl-prev img {
        width: 34rem;
        height: 34rem;
    }
    .materials__slider .owl-nav button.owl-next img {
        width: 34rem;
        height: 34rem;
    }

    .materials__content .parallax:nth-child(1) .parallax__scene:nth-child(1) {
        left: -110rem;
        top: 40rem;
    }
    .materials__content .parallax:nth-child(1) .parallax__scene:nth-child(1) .parallax__img:nth-child(1){
        width: 154rem;
        height: 142rem;
    }

    .materials__content .parallax:nth-child(1) .parallax__scene:nth-child(2) {
        right: -60rem;
        bottom: -29rem;
    }
    .materials__content .parallax:nth-child(1) .parallax__scene:nth-child(2) .parallax__img:nth-child(1){
        width: 123rem;
        height: 111rem;
    }
    .services {
        padding-top: 41rem;
    }
    .services__tab_link__wrapper {
        margin: 0 6rem;
    }
    .services__tab_link {
        height: 43rem;
        padding-right: 14rem;
        padding-left: 14rem;

    }
    .services__tab_link__wrapper:hover .services__tab_link {
        padding-right: 16rem;
        padding-left: 16rem;
    }
    .services__tab_link__wrapper.active .services__tab_link {
        padding-right: 16rem;
        padding-left: 16rem;
    }
    .services__tab_link svg {
        height: 18rem;
        width: auto;
    }
    .services__tab_link__title {
        font-size: 16rem;
    }
    .services__tab_links {
        margin-top: 18rem;
        height: 50rem;
    }
    .services__tab_contents {
        margin-top: 21rem;
    }
    .services__tab_content__slider__item__title {
        font-size: 20rem;
        line-height: 24rem;
    }
    .services__tab_content__slider__item {
        padding: 30rem;
    }
    .services__tab_content__slider__item__price {
        font-size: 36rem;
    }

    .services__tab_content__slider__item__time__img {
        width: 45rem;
        max-width: 45rem;
        height: 48rem;
        left: 0;
    }
    .services__tab_content__slider__item__time {
        padding-left: 55rem;
        padding-right: 15rem;
        font-size: 14rem;
    }

    .services__content .parallax:nth-child(1) .parallax__scene:nth-child(1) {
        right: -86rem;
        bottom: 10rem;
    }
    .services__content .parallax:nth-child(1) .parallax__scene:nth-child(1) .parallax__img:nth-child(1){
        width: 165rem;
        height: 129rem;
    }

    .masters {
        padding-top: 70rem;
        padding-bottom: 15rem;
    }
    .masters__item__title {
        font-size: 24rem;
    }
    .masters__items {
        margin-top: 35rem;
    }
    .masters__item {
        padding: 20rem;
    }

    .about {
        padding-top: 15rem;
        padding-bottom: 43rem;
    }

    .about__content {
        grid-template-columns: 1fr;
    }
    .about__content__img {
        width: 100%;
        padding-bottom: 100%;
    }
    .about__content__text {
        padding: 15rem;
    }
    .about__content__desc {
        margin-top: 7rem;
    }

    .about__content .parallax:nth-child(3) .parallax__scene:nth-child(1) {
        left: -116rem;
        top: -90rem;
    }
    .about__content .parallax:nth-child(3) .parallax__scene:nth-child(1) .parallax__img:nth-child(1) {
        width: 194rem;
        height: 182rem;
    }

    .about__content .parallax:nth-child(3) .parallax__scene:nth-child(2) {
        right: -66rem;
        bottom: -94rem;
    }
    .about__content .parallax:nth-child(3) .parallax__scene:nth-child(2) .parallax__img:nth-child(1) {
        width: 136rem;
        height: 161rem;
    }

    .faq {
        padding-top: 43rem;
    }
    .faq__items {
        width: 100%;
    }
    .faq__item__header {
        padding: 17rem;
    }
    .faq__item__header__title {
        font-size: 16rem;
    }
    .faq__item__header__icon {
        width: 30rem;
        height: 30rem;
    }
    .faq__item__content {
        font-size: 17rem;
        padding: 17rem 17rem;
        padding-top: 0;
    }
    .faq__content .parallax:nth-child(1) .parallax__scene:nth-child(1) {
        left: -106rem;
        top: -140rem;
    }
    .faq__content .parallax:nth-child(1) .parallax__scene:nth-child(1) .parallax__img:nth-child(1) {
        width: 171rem;
        height: 187rem;
    }
    .faq__content .parallax:nth-child(1) .parallax__scene:nth-child(2) {
        right: -176rem;
        bottom: -229rem;
    }
    .faq__content .parallax:nth-child(1) .parallax__scene:nth-child(2) {
        right: -56rem;
        bottom: -109rem;
    }
    .faq__content .parallax:nth-child(1) .parallax__scene:nth-child(2) .parallax__img:nth-child(1){
        width: 99rem;
        height: 126rem;
    }
    .faq__items {
        margin-top: 29rem;
    }

    .reviews {
        padding-bottom: 57rem;
    }

    .reviews__slider__wrapper {
        padding-left: 25rem;
        padding-right: 25rem;
    }
    .reviews__slider .owl-nav button {
        box-shadow: 0px 2rem 0rem 0rem rgba(188, 103, 134, 1);
    }
    .reviews__slider .owl-nav button img {
        width: 34rem;
        height: 34rem;
    }
    .reviews__slider .owl-nav button.owl-prev {
        left: -34rem;
    }
    .reviews__slider .owl-nav button.owl-next {
        right: -34rem;
    }
    .reviews__slider .owl-nav button:active  {
        transform: translateY(2rem);
        box-shadow: none;
    } 
    .reviews__btns {
        flex-direction: column;
    }
    .reviews__btns .btn {
        font-size: 14rem;
        padding-left: 20rem;
        padding-right: 20rem;
        height: 53rem;
        margin-bottom: 15rem;
    }
    .reviews__btns .btn svg {
        height: 16rem;
        width: auto;
    }
    .reviews__slider {
        margin-top: 55rem;
    }

    .reviews__content .parallax:nth-child(1) .parallax__scene:nth-child(1) {
        display: none;
    }

    .promotions {
        padding-top: 57rem;
    }

    .promotions__item {
        width: 100%;
        padding-left: 150rem;
        height: 211rem;
        margin: 0;
        margin-bottom: 22rem;
    }
    .promotions__item__img {
        width: 150rem;
    }

    .promotions__item__title {
        font-size: 20rem;
    }

    .promotions__item__title.percent {
        font-size: 64rem;
    }
    .promotions__item__desc {
        font-size: 16rem;
    }

    .promotions__content .parallax:nth-child(1) .parallax__scene:nth-child(1) {
        right: -286rem;
        bottom: -310rem;
    }
    .promotions__content .parallax:nth-child(1) .parallax__scene:nth-child(1) .parallax__img:nth-child(1){
        width: 337rem;
        height: 428rem;
    }



    .contacts {
        padding-top: 26rem;
    }
    .contacts__content__left {
        height: 600rem;
        order: 2;
    }
    .contacts__content__phone {
        font-size: 20rem;
        margin-top: 15rem;
    }
    .contacts__content__adress {
        font-size: 16rem;
    }
    .contacts__content__text {
        font-size: 16rem;
        line-height: 21rem;
        margin-top: 20rem;
    }
    .contacts__content {
        grid-template-columns: 1fr;
        grid-gap: 27rem;
    }
    .contacts__content__right {
        padding: 0;
        order: 1;
    }
    .footer__navbar {
        flex-direction: column;
    }
    .footer__navbar .hero__navbar__contacts {
        flex-direction: column;
    }
    .footer__navbar .hero__navbar__contacts__item {
        margin-right: 0;
    }
    .footer__navbar .hero__navbar__contacts__item:nth-child(1), 
    .footer__navbar .hero__navbar__contacts__item:nth-child(2),
    .footer__navbar .hero__navbar__contacts__item:nth-child(3) {
        display: flex;
    }
    .footer__navbar .hero__navbar__contacts__item {
        margin-bottom: 20rem;
    }
    .footer__navbar .hero__navbar__contacts {
        margin-top: 20rem;
    }
    .footer__bottom {
        flex-direction: column;
    }
    .footer__bottom__copyright {
        text-align: center;
    }

}